@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');

$title-font-family: 'Engagement', cursive;
$body-font-family: 'Dosis', sans-serif;

$gold-color: #F4C815;
$antique-pink-color: #F4C8C8;
$rosy-brown-color: #AA5577;
$light-steel-blue-color: #C1D5DE;
$light-steel-green-color: #DEEDE6;

$dark-background-color: #282c34;
$light-background-color: #ffffff;
