@use '../../styles/vars.scss' as vars;

.overlay {
	position: absolute;
	bottom: 10;
	left: 0;
	width: 100%;
	height: 30vh;
	z-index: 100;

}

.word{
  display: flex;
  justify-content: center;
}

.text {
	font-family: vars.$body-font-family;
	font-size: 90px;
	display: flex;
	position: absolute;
	bottom: 20vh;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;

	.wrapper {
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 20px;
		.letter {
      text-transform: uppercase;
			transition: ease-out 0.8s;
			transform: translateY(40%);
		}
		.shadow {
      text-transform: uppercase;
			transform: scale(1, -1);
			color: vars.$antique-pink-color;
			transition: ease-in 4s, ease-out 4s;
		}
		&:hover {
			.letter {
				transform: translateY(-100%);
			}
			.shadow {
				opacity: 0;
				transform: translateY(200%);
			}
		}
	}
}




@media (max-width: 1024px) {
  .text {
    font-size: 50px;
    flex-direction: column;
  }

}

@media (max-width: 500px) {
  .text {
    font-size: 25px;
    flex-direction: column;
  }

}